sample_50_rand_df_*
get_features_7.mp3
Untitled.ipynb
features_1.csv
features_1.csv
features/
tensorflow_macos/x86_64/tensorflow_macos-0.1a3-cp38-cp38-macosx_11_0_x86_64.whl
tensorflow_macos/x86_64/numpy-1.18.5-cp38-cp38-macosx_11_0_x86_64.whl
tensorflow_macos/x86_64/grpcio-1.33.2-cp38-cp38-macosx_11_0_x86_64.whl
tensorflow_macos/x86_64/.DS_Store
tensorflow_macos/arm64/tensorflow_addons_macos-0.1a3-cp38-cp38-macosx_11_0_arm64.whl
tensorflow_macos/arm64/tensorflow_macos-0.1a3-cp38-cp38-macosx_11_0_arm64.whl
tensorflow_macos/arm64/h5py-2.10.0-cp38-cp38-macosx_11_0_arm64.whl.backup
tensorflow_macos/x86_64/tensorflow_addons_macos-0.1a3-cp38-cp38-macosx_11_0_x86_64.whl
tensorflow_macos/arm64/grpcio-1.33.2-cp38-cp38-macosx_11_0_arm64.whl
tensorflow_macos/environment.yml
tensorflow_macos/.DS_Store
tensorflow_macos/arm64/numpy-1.18.5-cp38-cp38-macosx_11_0_arm64.whl
tensorflow_macos/x86_64/h5py-2.10.0-cp38-cp38-macosx_11_0_x86_64.whl
tensorflow_macos/arm64/h5py-2.10.0-cp38-cp38-macosx_11_0_arm64.whl
tensorflow_macos/arm64/.DS_Store
tensorflow_macos/install_venv.sh

tensorflow_macos/x86_64/scipy-1.5.4-cp38-cp38-macosx_11_0_x86_64.whl
