audioread            
beautifulsoup4       
ffmpeg-python        
future                
ipykernel            
ipython               
ipython-genutils     
Jinja2                
jupyter-client        
jupyter-core         
jupyter-packaging    
jupyter-server       
jupyterlab            
jupyterlab-pygments  
jupyterlab-server    
Keras                
Keras-Preprocessing  
librosa              
matplotlib-inline    
numpy                 
psutil               
requests              
requests-futures     
scikit-learn          
scipy                
selenium               
tensorflow           
tensorflow-estimator 
webdriver-manager    
webencodings          
pandas